<footer class="bg-dark footer">

    <div class="container">
        <div class="row">
            <div class="left col-md-6 text-white"> Todas las fotografias mostradas en este sitio web estan bajo los derechos de autor. Para poder hacer uso de ellas o para cualquier duda, pueden ponerse en contacto a través del formulario facilitado en <a [routerLink]="['/about']">about</a></div>
            <div class="right col-md-6 text-white"> 
                <div class="row"><img src="../../../assets/img/logoDC3.png" class="imatgeFooter"> <img src="../../../assets/img/marvel-logo.png" class="imatgeFooter"></div>
            </div>
        </div>
    </div>

</footer>
