<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <div class="container-fluid">
      <img src="../../../assets/img/A-64.png" class="mt-1" width="25" height="25">
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" [routerLink]="['/home']">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/heroes']">Heroes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/about']">About</a>
          </li>
        </ul>
        <form class="d-flex" role="search"> 
          <input class="form-control me-2" placeholder="Buscar" list="opcions" type="search"  aria-label="Buscar" (keyup)="regresar()" (keyup)="cargar(textobusqueda.value)" #textobusqueda>
          <button class="btn btn-outline-primary" type="button" (click)="buscar()">Buscar</button>
          <datalist id="opcions">
            <option value="Aquaman">
            <option value="Batman">
            <option value="Daredevil">
            <option value="Hulk">
            <option value="Linterna Verde">
            <option value="Spider-Man">
            <option value="Wolverine">
          </datalist>
        </form>
      </div>
    </div>
  </nav>
