<img src="../../../assets/img/tots3.jpg" class="imatgeTop">
<div class="titol container">
  <span> <h3> <b>Héroes</b> Marvel y DC</h3> </span>
</div>

<div class="container ">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div *ngFor="let heroe of heroes">
      <div class="col">
        <div class="card">
          <img src="{{heroe.img}}" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">{{heroe.nombre}}</h5>
            <p class="card-text">{{heroe.bio}}</p>
            <p class="card-text"><small class="text-muted">{{heroe.aparicion}}</small></p>
            <button type="button" class="btn btn-outline-primary" [routerLink]="['/heroes/', heroe.nombre]">Ver mas...</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
